<div class="content-body">
			
    <!-- row -->
<div class="row">
    <div class="container-fluid">
        <div class="form-head d-flex flex-wrap mb-sm-4 align-items-start">
            <div class="mr-auto mb-2 d-lg-block mb-3">
                <h2 class="text-black font-w700 mb-0">Operation</h2>
                <p class="mb-0">Lorem ipsum  dolor sit amet </p>
            </div>
            <div class="dashboard_bar mb-3">
               <div class="input-group search-area right d-lg-inline-flex d-none  mr-5">
                    <input type="text" class="form-control" placeholder="Search here..">
                    <div class="input-group-append">
                        <a href="javascript:void(0);" class="input-group-text">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z" fill="#A4A4A4"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#"   class="btn btn-primary btn-rounded mb-3"><i class="fa fa-user-plus mr-3"></i>Return all Reading Books</a>
            <a
          href="javascript:void(0);"
          data-toggle="modal"
          data-target="#addOrderModal"
          class="btn btn-primary btn-rounded mb-3"
          ><i class="fa fa-user-plus mr-3"></i>New Operation</a
        >
        <!-- Add Order -->
        <div class="modal fade" id="addOrderModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Operation</h5>
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label class="text-black font-w500">Employee ID</label>
                    <input type="text" class="form-control" readonly />
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Book ID</label>
                    <input type="text" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label class="text-black font-w500">Operation type </label>
                        <select class="form-control" name="" id="">
                            <option selected>Select one</option>
                            <option value="">Read</option>
                            <option value="">Borrow</option>
                        </select>
                    </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                      SAVE
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm mb-0 table-striped">
                            <thead>
                                <tr>
                                    <th class=" pr-3">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th class=" pl-5" style="min-width: 200px;">Billing Address</th>
                                    <th>Joined</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="customers">

                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/5.png" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <!-- button return  -->
                                        <a href="#" class="btn btn-primary btn-sm btn-rounded"><i class="fa fa-right-left"></i>Return</a>

                                            
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/6.jpg" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                    href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/5.jpg" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/5.png" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/3.jpg" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="#!">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/2.jpg" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/1.png" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="py-2">
                                        <div class="custom-control custom-checkbox mx-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox1">
                                            <label class="custom-control-label" for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">12012548</a>
                                    </td>
                                    <td class="py-3">
                                        <a href="#">
                                            <div class="media d-flex align-items-center">
                                                <div class="avatar avatar-xl mr-2">
                                                    <div class=""><img class="rounded-circle img-fluid"
                                                            src="assets/images/avatar/1.png" width="30"
                                                            alt="" />
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="mb-0 fs--1">Ricky Antony</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="py-2"><a href="mailto:ricky@example.com">info@example.com</a>
                                    </td>
                                    <td class="py-2"> <a href="tel:2012001851">(201) 200-1851</a></td>
                                    <td class="py-2 pl-5">2392 Main Avenue, Penasauka</td>
                                    <td class="py-2">30/03/2018</td>
                                    <td class="py-2 text-right">
                                        <div class="dropdown"><button
                                                class="btn btn-primary tp-btn-light sharp" type="button"
                                                data-toggle="dropdown"><span class="fs--1"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        width="18px" height="18px" viewBox="0 0 24 24"
                                                        version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="5" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2">
                                                            </circle>
                                                            <circle fill="#000000" cx="19" cy="12" r="2">
                                                            </circle>
                                                        </g>
                                                    </svg></span></button>
                                            <div class="dropdown-menu dropdown-menu-right border py-0">
                                                <div class="py-2"><a class="dropdown-item"
                                                        href="edit-member.html">Edit</a><a
                                                        class="dropdown-item text-danger"
                                                        href="#!">Delete</a></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
