
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
      <div class="form-head d-flex flex-wrap mb-sm-4 align-items-start">
        <div class="mr-auto mb-2 d-lg-block mb-3">
          <h2 class="text-black font-w700 mb-0">Members</h2>

    </div>
    <div class="dashboard_bar mb-3">
      <!-- search area code -->
      <div class="input-group search-area right d-lg-inline-flex d-none mr-5">
        <input type="text" class="form-control" [(ngModel)]="searchKey" placeholder="Search here...">
        <div class="input-group-append">
          <a href="javascript:void(0);" class="input-group-text" (click)="search()">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <a routerLink="/member-add" data-toggle="modal" data-target="#addOrderModal" class="btn btn-primary btn-rounded mb-3"><i class="fa fa-user-plus mr-3"></i>New Member</a>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6" *ngFor="let member of members.slice((currentPage-1)*6, currentPage*6)">
        <div class="card contact-bx hvr">
          <div class="card-body">
            <div class="media">
              <div class="image-bx mr-3">
                <img src="assets/images/users/defaultProfilePic.jpg" alt="" class="rounded-circle" width="90">
              </div>
              <div class="media-body">
                <h6 class="font-w700">
                  <a href="/memberProfile/{{member._id}}" class="text-black">{{member.fullName}}</a>
                </h6>
                <p class="fs-14 mb-1">{{member.email}}</p>
                <button class="btn btn-danger float-right" (click)="delete(member._id)">Delete</button>
                <div class="contact-footer">
                  <a href="/memberProfile/{{member._id}}">View Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-circle">
            <li class="page-item page-indicator">
              <button class="page-link" href="javascript:void(0)"  [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">
                <i class="la la-angle-left"></i>
              </button>
            </li>
            <ng-container *ngFor="let page of getPages()">
                <li class="page-item" [class.active]="page === currentPage">
                    <a class="page-link" href="javascript:void(0)" (click)="currentPage = page">{{page}}</a>
                  </li>
                </ng-container>
                <li class="page-item page-indicator">
                  <button class="page-link" href="javascript:void(0)" [disabled]="currentPage === getPages().length" (click)="currentPage = currentPage + 1">
                    <i class="la la-angle-right"></i>
                  </button>
                </li>
              </ul>
              </nav>
          </div>
        </div>
      </div>
  </div>