<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <p class="mb-0">edit the book</p>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="mb-3 shadow p-5">
            <form action="">
                <div class="form-group">
                    <label for="" class="form-label">ID</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="{{emp._id}}" readonly>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.firstName}}"  [(ngModel)]="emp.firstName" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.lastName}}"  [(ngModel)]="emp.lastName" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.email}}"  [(ngModel)]="emp.email" [ngModelOptions]="{standalone: true}"
                         required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.password}}"  [(ngModel)]="emp.password" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Birthdate</label>
                    <input type="date" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.birthdate}}"  [(ngModel)]="emp.birthdate" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Hire Date</label>
                    <input type="date" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.hireDate}}"  [(ngModel)]="emp.hireDate" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Salary</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" value="{{emp.salary}}"  [(ngModel)]="emp.salary" [ngModelOptions]="{standalone: true}"
                        placeholder="" required>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Image</label>
                  <input type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId"
                  value="{{emp.image}}"  [(ngModel)]="emp.image">
                </div>
                <button class="btn btn-primary" (click)="update()">Submit</button>
            </form>
        </div>
    </div>
</div>
