<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <p class="mb-0">Book Details</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-xxl-5 m-auto">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <img class="w-100" src="assets/images/books/book1.jpg" alt="">

                                </div>
                            </div>
                            <!--Tab slider End-->
                            <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">
                                        <h2>{{book.title}}</h2>
                                        <div class="comment-review star-rating">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                <li><i class="fa fa-star-half-empty"></i></li>
                                            </ul>
                                            <span class="review-text text-success" *ngIf="book.available">Available Now <i class="fa fa-check-circle text-success"></i></span>
                                            <span class="review-text text-danger" *ngIf="!book.available">Not Available <i class="fa fa-times-circle text-danger"></i></span>                                        
                                            
                                        </div>
                                        <div class="d-table mb-2">
                                            <p class="price float-left d-block">{{book.noOfCopies}} Copies</p>
                                        </div>
                                        <h4><b>Book ID: </b> <span class="item">{{book._id}}</span> </h4>
                                        <h4><b>Auther: </b> <span class="item">{{book.author}}</span></h4>
                                        <h4><b>Publisher: </b> <span class="item">{{book.publisher}}</span></h4>
                                        <h4><b>number of Copies: </b> <span class="item">{{book.noOfCopies}}</span></h4>
                                        <h4><b>Edition: </b> <span class="item">{{book.edition}}</span></h4>
                                        <h4><b>Book Category: </b>&nbsp;&nbsp;
                                            <span class="badge badge-success light">{{book.category}}</span>
                                        </h4>
                                        <h4><b>Pages: </b> <span class="item">{{book.pages}}</span></h4>
                                        <h4><b>Number of current borrowed: </b> <span class="item">{{book.noOfCurrentBorrowed}}</span></h4>
                                        <h4><b>Number of current reading: </b> <span class="item">{{book.noOfCurrentReading}}</span></h4>
                                        <h4><b>Number of borrowed: </b> <span class="item">{{book.noBorrowed}}</span></h4>
                                        <h4><b>Number of reading: </b> <span class="item">{{book.noReading}}</span></h4>
                                        <h4><b>Publishing Date: </b> <span class="item">{{book.publishingDate}}</span></h4>
                                        <h4><b>Created At: </b> <span class="item">{{book.createdAt}}</span></h4>
                                        <h4><b>Updated At: </b> <span class="item">{{book.updatedAt}}</span></h4>
                                        
                                        <div class="d-flex align-items-center mt-4">
                                            
                                            <!--Quanatity End-->
                                            <div class="shopping-cart  mb-3 mr-3">
                                                <a class="btn btn-primary" href="/bookedit/{{book._id}}"><i class="fa fa-edit mr-2"></i>Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

