<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="form-head ">
            <div class="mr-auto d-lg-block mb-3 text-center">
                <h2 class="text-black font-w700 mb-0">book</h2>
                <p class="mb-0">Lorem ipsum dolor sit amet </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0 pb-2 d-flex flex-wrap">
                        <div class="mb-3">
                            <h4 class="fs-24 font-w700 mb-2">book Menus</h4>
                            <p class="fs-14 mb-0">Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="card-action card-tabs mb-3">
                            <ul class="nav nav-tabs" role="tablist">
                                
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#new-arrived-books" role="tab">
                                        New Arrived Books
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#avilable-for-borrow" role="tab">
                                        avilable for borrow
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#not-avilable-for-read" role="tab">
                                        not avilable-for-reading
                                    
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#not-avilable-for-borrow" role="tab">
                                        not avilable for borrow
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <!--===================Avilable For Reading Section ======================-->
                        <div class="tab-pane fade show active" id="new-arrived-books" role="tabpanel"aria-labelledby="all-book">
                            <div class="card-body p-0">
                                <div class="book-list-row">
                                    <div class="media-bx">
                                        <div class="media align-items-center">
                                            <img class="rounded mr-3" src="assets/images/books/book1.jpg" alt="">
                                            <div class="media-body">
                                                <h5 class="mb-2"><a href="bookdetails">book one</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center book-review">
                                        <span class="text-black fs-18 font-w700  mr-2 mr-sm-0">3.6</span>
                                        <div class="star-review fs-14 mb-2">
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-gray"></i>
                                            <i class="fa fa-star text-gray"></i>
                                        </div>
                                    </div>
                                    <div class="book-list-footer">
                                        <div class="d-flex align-items-center mr-3 mr-sm-0">
                                            <div class="media-body">
                                                <h3 class="text-black font-w700 mb-1">45%</h3>
                                                <span class="text-black">Interest</span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="d-flex  mb-1">
                        
                                                <h3 class="text-black mb-0 font-w700 fs-22">6,732</h3>
                                            </div>
                                            <span class="text-black">top  book</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--===================Avilable For Borrow Section ======================-->
                        <div class="tab-pane fade show active" id="avilable-for-borrow" role="tabpanel"aria-labelledby="all-book">
                            <div class="card-body p-0">
                                <div class="book-list-row">
                                    <div class="media-bx">
                                        <div class="media align-items-center">
                                            <img class="rounded mr-3" src="assets/images/books/book1.jpg" alt="">
                                            <div class="media-body">
                                                <h5 class="mb-2"><a href="bookdetails">book one</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center book-review">
                                        <span class="text-black fs-18 font-w700  mr-2 mr-sm-0">3.6</span>
                                        <div class="star-review fs-14 mb-2">
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-gray"></i>
                                            <i class="fa fa-star text-gray"></i>
                                        </div>
                                    </div>
                                    <div class="book-list-footer">
                                        <div class="d-flex align-items-center mr-3 mr-sm-0">
                                            <div class="media-body">
                                                <h3 class="text-black font-w700 mb-1">45%</h3>
                                                <span class="text-black">Interest</span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="d-flex  mb-1">
                        
                                                <h3 class="text-black mb-0 font-w700 fs-22">6,732</h3>
                                            </div>
                                            <span class="text-black">top  book</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--===================Not Avilable For Reading Section ======================-->
                        <div class="tab-pane fade show active" id="not-avilable-for-read" role="tabpanel"aria-labelledby="all-book">
                            <div class="card-body p-0">
                                <div class="book-list-row">
                                    <div class="media-bx">
                                        <div class="media align-items-center">
                                            <img class="rounded mr-3" src="assets/images/books/book1.jpg" alt="">
                                            <div class="media-body">
                                                <h5 class="mb-2"><a href="bookdetails">book one</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center book-review">
                                        <span class="text-black fs-18 font-w700  mr-2 mr-sm-0">3.6</span>
                                        <div class="star-review fs-14 mb-2">
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-orange"></i>
                                            <i class="fa fa-star text-gray"></i>
                                            <i class="fa fa-star text-gray"></i>
                                        </div>
                                    </div>
                                    <div class="book-list-footer">
                                        <div class="d-flex align-items-center mr-3 mr-sm-0">
                                            <div class="media-body">
                                                <h3 class="text-black font-w700 mb-1">45%</h3>
                                                <span class="text-black">Interest</span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="d-flex  mb-1">
                        
                                                <h3 class="text-black mb-0 font-w700 fs-22">6,732</h3>
                                            </div>
                                            <span class="text-black">top  book</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-circle ">
                        <li class="page-item page-indicator">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="la la-angle-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                        <li class="page-item page-indicator">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="la la-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
