<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <!-- Add Project -->
        <div class="modal fade" id="addProjectSidebar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Project</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <a routerLink="/Book/add" class="btn btn-primary text-white">Add new book <i class="fa fa-upload"></i></a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6"  *ngFor="let item of books">
                <div class="card">
                    <div class="card-body">
                        <div class="row m-b-30">
                            <div class="col-md-5 col-xxl-12">
                                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                    <div class="new-arrivals-img-contnent">
                                        <a href="bookdetails/{{item._id}}"><img class="img-fluid" src="{{item.image}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xxl-12">
                                <div class="new-arrival-content position-relative">
                                    <h3><a href="bookdetails/{{item._id}}">{{item.title}}</a>
                                    </h3>
                                    <div class="comment-review star-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                        </ul>
                                        
                                        <p class="price">{{item.noOfCopies}} Copies</p>
                                    </div>
                                    <h1 class="item" *ngIf="item.available">Available Now <i class="fa fa-check-circle text-success"></i></h1>
                                    <h1 class="item" *ngIf="!item.available">Not Available <i class="fa fa-times-circle text-danger">
                                    </i></h1>
                                    <p>Book ID: <span class="item">{{item._id}}</span> </p>
                                    <p>Author: <span class="item">{{item.author}}</span></p>
                                    <p>Publisher: <span class="item">{{item.publisher}}</span></p>
                                </div>
                                <!-- button -->
                                <div class="row">
                                <div class="col new-arrival-content position-relative">
                                    <a routerLink="/Book/read/{{item._id}}" *ngIf="item.available" class="btn btn-primary text-white mx-2">Read </a>
                                    <a routerLink="/Book/read/{{item._id}}" *ngIf="!item.available"><button  style="cursor: default;" class="btn btn-primary text-white mx-2" disabled>Read</button> </a>
                                    <a routerLink="/Book/borrow/{{item._id}}" *ngIf="item.available" class="btn btn-primary text-white mx-2">Borrow </a>
                                    <a routerLink="/Book/borrow/{{item._id}}" *ngIf="!item.available"><button  style="cursor: default;" class="btn btn-primary text-white mx-2" disabled>Borrow</button> </a>
                                
                                    <!-- <td><button class="btn btn-danger" (click)="delete(item._id)"><i class="fa fa-trash mr-2"></i> DELETE</button></td> -->
                                    <img src="../../../../assets/images/trash.png" width="40" height="45" (click)="delete(item._id)" style="cursor: pointer;" class="cursor-pointer mx-5">
                                </div>
                            </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   
        </div>
    </div>
</div>
