<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <!-- Add Project -->
        <div class="modal fade" id="addProjectSidebar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Project</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <div class="dashboard_bar mb-3">
                <div
                  class="input-group search-area right d-lg-inline-flex d-none mr-5"
                >
                <input
              type="text"
              class="form-control"
              placeholder="Search here.." name="search" [(ngModel)]="searchText" autocomplete="off"
            />
                  <div class="input-group-append">
                    <a href="javascript:void(0);" class="input-group-text">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
                          fill="#A4A4A4"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              
                    <a routerLink="/Book/add" class="btn btn-primary text-white">Add new book <i class="fa fa-upload"></i></a><br>
                    <a routerLink="/Book/filterBooks/get" class="btn btn-primary text-white">Filtered Books</a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6"  *ngFor="let item of books">
                <div class="card">
                    <div class="card-body">
                        <div class="row m-b-30">
                            <div class="col-md-5 col-xxl-12">
                                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                    <div class="new-arrivals-img-contnent">
                                        <a href="bookdetails/{{item._id}}"><img class="img-fluid" src="{{item.image}}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xxl-12">
                                <div class="new-arrival-content position-relative">
                                    <h3><a href="bookdetails/{{item._id}}">{{item.title}}</a>
                                    </h3>
                                    <div class="comment-review star-rating">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                        </ul>
                                        
                                        <p class="price">{{item.noOfCopies}} Copies</p>
                                    </div>
                                    <h1 class="item" *ngIf="item.available">Available Now <i class="fa fa-check-circle text-success"></i></h1>
                                    <h1 class="item" *ngIf="!item.available">Not Available <i class="fa fa-times-circle text-danger">
                                    </i></h1>
                                    <p>Book ID: <span class="item">{{item._id}}</span> </p>
                                    <p>Author: <span class="item">{{item.author}}</span></p>
                                    <p>Publisher: <span class="item">{{item.publisher}}</span></p>
                                </div>
                                <!-- button -->
                                <div class="row">
                                <div class="col new-arrival-content position-relative">
                                    <a routerLink="/Book/read/{{item._id}}" *ngIf="item.available" class="btn btn-primary text-white mx-2">Read </a>
                                    <a routerLink="/Book/read/{{item._id}}" *ngIf="!item.available"><button  style="cursor: default;" class="btn btn-primary text-white mx-2" disabled>Read</button> </a>
                                    <a routerLink="/Book/borrow/{{item._id}}" *ngIf="item.available" class="btn btn-primary text-white mx-2">Borrow </a>
                                    <a routerLink="/Book/borrow/{{item._id}}" *ngIf="!item.available"><button  style="cursor: default;" class="btn btn-primary text-white mx-2" disabled>Borrow</button> </a>
                                 
                                    <!-- <td><button class="btn btn-danger" (click)="delete(item._id)"><i class="fa fa-trash mr-2"></i> DELETE</button></td> -->
                                    <img src="../../../../assets/images/trash.png" width="40" height="45" (click)="delete(item._id)" style="cursor: pointer;" class="cursor-pointer mx-5">
                                </div>
                            </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-circle">
            <li class="page-item page-indicator">
              <button class="page-link" href="javascript:void(0)"  [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">
                <i class="la la-angle-left"></i>
              </button>
            </li>
            <ng-container *ngFor="let page of getPages()">
                <li class="page-item" [class.active]="page === currentPage">
                    <a class="page-link" href="javascript:void(0)" (click)="currentPage = page">{{page}}</a>
                  </li>
                </ng-container>
                <li class="page-item page-indicator">
                  <button class="page-link" href="javascript:void(0)" [disabled]="currentPage === getPages().length" (click)="currentPage = currentPage + 1">
                    <i class="la la-angle-right"></i>
                  </button>
                </li>
              </ul>
              </nav>
          </div>
        </div>
      </div>
  </div>