<div class="deznav">
    <div class="deznav-scroll">
      <ul class="metismenu" id="menu">
        <li>
          <a
            class="has-arrow ai-icon"
            href="javascript:void()"
            aria-expanded="false"
          >
            <i class="flaticon-025-dashboard"></i>
            <span class="nav-text">Library Entity</span>
          </a>
          <ul aria-expanded="false">
            <li><a href="/Basics">Dashboard</a></li>
            <li><a href="/member">Member</a></li>
            <li><a href="/Admins">Admin</a></li>
            <li><a href="/BasicAdmin">BasicAdmin</a></li>
            <li><a href="/employee">Employee</a></li>
            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
                >Books</a
              >
              <ul aria-expanded="false">
                <li><a href="/allbook">All Book</a></li>
                <li><a href="/bookavilablty">Book Avilabilty</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a
            class="has-arrow ai-icon"
            href="javascript:void()"
            aria-expanded="false"
          >
            <i class="flaticon-072-printer"></i>
            <span class="nav-text">Reports</span>
          </a>
          <ul aria-expanded="false">
            <li><a href="chart-flot.html">Flot</a></li>
            <li><a href="chart-morris.html">Morris</a></li>
            <li><a href="chart-chartjs.html">Chartjs</a></li>
            <li><a href="chart-chartist.html">Chartist</a></li>
            <li><a href="chart-sparkline.html">Sparkline</a></li>
            <li><a href="chart-peity.html">Peity</a></li>
          </ul>
        </li>
        <li>
          <a
            class="has-arrow ai-icon"
            href="javascript:void()"
            aria-expanded="false"
          >
            <i class="flaticon-072-printer"></i>
            <span class="nav-text"> Operation</span>
          </a>
          <ul aria-expanded="false">
            <li><a href="/operation"> list Operation </a></li>
          </ul>
        </li>
      </ul>
      <div class="drum-box">
        <img src="assets/images/ellipse5.png" alt="" />
        <p class="fs-18 font-w500 mb-4">
          Design By The Best Team In the World
        </p>
        <a class="" href="javascript:void(0);"
          ><i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
